html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  font-size: 13px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body,
pre {
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.headers {
  width: 100%;
  border-top: solid 1px #bfbfbf;
  border-bottom: solid 1px #bfbfbf;
  font-size: 12px;
  margin: 30px 0 10px 0;
  padding: 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.01);
}
#content>div:first-child .headers {
  margin-top: 0;
  padding-top: 5px;
}
.headers td:first-child {
  width: 10px;
  white-space: nowrap;
  padding: 0 10px;
  text-align: right;
  font-weight: bold;
  color: #a1a1a1;
}
.headers [data-id="subject"] {
  font-weight: bold;
}
.body {
  padding: 0 10px;
}
#content {
  overflow: auto;
  flex: 1;
}
body[data-loading=true] {
  background: #fff url('/data/images/sl.gif') center center no-repeat;
}

[data-id="id"] {
  padding-right: 10px;
  text-align: left;
}
[data-id=attachments] span {
  cursor: pointer;
  font-weight: bold;
}
[data-id=attachments] span:not(:last-child):after {
  content: ', ';
}
/* email related */
td,
table {
  border: none;
}
pre {
  white-space: pre-line;
}

blockquote {
  margin: 0 0 0 10px;
  padding: 0 5px;
  color: #6a737d;
  border-left: 2px solid #dfe2e5;
}

.PlainText {
  color: #000;
}

