#content .headers {
  display: none;
}
.headers input[type=button] {
  cursor: pointer;
  outline: none;
  margin-left: 3px;
}
.headers input[type=button]:disabled {
  opacity: 0.3;
}
.headers input[type=button]:active {
  opacity: 0.5;
}
.headers input[type=search],
.headers input[type=text] {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  text-indent: 3px;
}
body>.headers td:last-child {
  padding-right: 10px;
}
body>.headers {
  margin-top: 0;
}

#body {
  outline: none;
  padding: 0 10px;
  overflow: auto;
}

#tools {
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: solid 1px #bfbfbf;
  padding: 10px 5px 8px 5px;
}
#tools input {
  margin: 0 2px 2px 0;
}
.headers {
  margin-bottom: 0 !important;
}

[hbox] {
  display: flex;
}
