body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  user-select: none;
  display: flex;
}

#root ul {
  padding: 0;
  margin: 0;
}

.vtree-leaf-label {
  white-space: nowrap;
}
.vtree-leaf-label * {
  pointer-events: none;
}
.vtree-leaf-label a>span {
  margin-left: 5px;
}
